.ChangesBrowser {
    height: 100%;
}

.ChangesBrowserHeader {
    font-weight: 800;
    text-transform: uppercase;
    background-color: var(--background-light);
    padding: var(--spacing-x);
    padding-left: var(--spacing-m);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ChangesBrowserContent {
    padding: var(--spacing-s);
}

.ChangesBrowserNoContent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: var(--spacing-s);
    text-align: center;
}

.ChangesBrowserContentHeader {
    display: flex;
    font-weight: var(--h6-font-weight);
    font-size: var(--h6-font-size);
    line-height: var(--h6-line-height);
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-width: 0;
    width: 100%;
}

.ChangesBrowserList, .ChangesBrowserText {
    background-color: var(--background-light);
    height: 20vh;
    min-height: 100px;
    overflow: auto;
    padding: var(--spacing-xx);
    line-height: var(--h1-line-height);
    white-space: pre-wrap;
}

.ChangesBrowserText {
    padding: var(--spacing-s);
    height: auto;
    min-height: auto;
}

.ChangesBrowserListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    flex-wrap: nowrap;
    padding: var(--spacing-s);
    gap: var(--spacing-s);
}

.ChangesBrowserListItem:hover {
    background-color: var(--primary-hover-alt);
}

.ChangesBrowserListItemSelected {
    background-color: var(--secondary-highlight);
}

.ChangesBrowserListItem > div {
    flex-grow: 4;
    display: flex;
    align-items: center;
    gap: var(--spacing-s);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
    flex: 1;
}

.ChangesBrowserListItem > div > span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    direction: rtl;
}

.ChangesBrowserListItem > button {
    white-space: nowrap;
}

.ChangesBrowserUser {
    display: flex;
    align-items: center;
    gap: var(--spacing-s);
    font-size: var(--h6-font-size);
    line-height: var(--h6-line-height);
    font-weight: var(--h6-font-weight);
    overflow: hidden;
    min-width: 0;
}

.ChangesBrowserUser > div:nth-child(2) {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    flex-grow: 4;
    min-width: 0;
}

.TextOverflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    min-width: 0;
    max-width: 100%;
}

.ChangesBrowserDate {
    font-size: var(--body-short-font-size);
    line-height: var(--body-short-line-height);
    color: var(--text-secondary);
    font-weight: var(--body-short-font-weight);
}
