.SpreadSheetEditor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: overlay;
    position: relative;
}

.SpreadSheetEditor .selection-frame {
    position: absolute;
    z-index: 10;
    outline: 3px solid var(--primary);
    pointer-events: none;
}

.SpreadSheetEditor .copying-frame {
    position: absolute;
    z-index: 10;
    pointer-events: none;
    background: 
        linear-gradient(90deg, var(--primary) 50%, transparent 0) repeat-x,
        linear-gradient(90deg, var(--primary) 50%, transparent 0) repeat-x,
        linear-gradient(0deg, var(--primary) 50%, transparent 0) repeat-y,
        linear-gradient(0deg, var(--primary) 50%, transparent 0) repeat-y;
    background-size: 4px 2px, 4px 2px, 2px 4px, 2px 4px;
    background-position: 0 0, 0 100%, 0 0, 100% 0;
    animation: linearGradientMove .3s infinite linear;
}

@keyframes linearGradientMove {
    100% {
        background-position: 4px 0, -4px 100%, 0 -4px, 100% 4px;
    }
}

.SpreadSheetEditor__ScrollOverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    pointer-events: none;
}

.SpreadSheetEditor__TableWrapper {
    overflow: hidden;
    position: sticky;
    left: 0;
    top: 0;
}

.SpreadSheetTable {
    border-spacing: 1px;
    border-collapse: collapse;
    cursor: crosshair;
}

.SpreadSheetTable tr th:first-child {
    background-color: var(--background-medium);
    border-right: 3px var(--background-medium) solid;
    border-bottom: 3px var(--background-medium) solid;
}

.SpreadSheetTable tr td:first-child {
    font-weight: var(--body-long-bold-font-weight);
    text-align: center;
    background-color: var(--background-light);
    position: relative;
    user-select: none;
}

.SpreadSheetTable th {
    background-color: var(--background-light);
    position: relative;
    user-select: none;
}

.SpreadSheetTable td, .SpreadSheetTable th {
    border: 1px var(--background-medium) solid;
    user-select: none;
}

.SpreadSheetTable th, .SpreadSheetTable tr td:first-child {
    border: 1px var(--background-medium) solid;
    cursor: pointer;
}

.SpreadSheetTable input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    color: var(--text-primary);
    margin: 0px;
    outline: 0px;
    border: 0px;
}

.SpreadSheetTable .focused-header, .SpreadSheetTable .selected-header {
    background-color: var(--primary-hover-alt) !important;
    color: var(--primary);
    font-weight: var(--body-long-bold-font-weight);
}

.SpreadSheetTable .hovered-header {
    background-color: var(--primary-hover-alt) !important;
}

.SpreadSheetTable th.selected-header {
    border-bottom: 3px var(--primary) solid !important;
}

.SpreadSheetTable td.selected-header {
    border-right: 3px var(--primary) solid !important;
}

.SpreadSheetTable .focused-cell {
    background-color: transparent !important;
}

.SpreadSheetTable .selected-cell {
    background-color: var(--secondary-highlight);
}

.SpreadSheetTable .first-selected-cell {
    background-color: transparent;
}

.SpreadSheetEditor__column-resize-handle {
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: -3px;
    width: 6px;
    height: 100%;
    z-index: 100;
    cursor: col-resize;
    background-color: var(--background-medium);
    opacity: 0;
    transition: opacity 0.2s;
}

.SpreadSheetEditor__row-resize-handle {
    position: absolute;
    top: 100%;
    margin-top: -3px;
    left: 0;
    height: 6px;
    width: 100%;
    z-index: 100;
    cursor: row-resize;
    background-color: var(--background-medium);
    opacity: 0;
    transition: opacity 0.2s;
}
