.FileTab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--background-light);
    padding: var(--spacing-s);
    cursor: pointer;
    white-space: nowrap;
    gap: 8px;
    font-size: 0.8rem;
}

.FileTab--active {
    background-color: var(--background-semi-transparent);
}

.FileTab__CloseButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    min-width: 16px;
}

.FileTab .FileTab__CloseButton * {
    visibility: hidden;
}

.FileTab:hover .FileTab__CloseButton * {
    visibility: visible;
}

.FileTab--active .FileTab__CloseButton * {
    visibility: visible;
}

.FileTab:hover .FileTab__CloseButton:hover,
.FileTab--active .FileTab__CloseButton:hover {
    border-radius: 4px;
    color: var(--primary-hover);
}

.FileTab--modified {
    font-style: italic;
}
