.FileTab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--background-light);
    padding: var(--spacing-s);
    cursor: pointer;
    white-space: nowrap;
    gap: 8px;
    font-size: 0.9rem;
    border-right: 1px solid var(--background-semi-transparent);
    user-select: none;
    font-weight: var(--body-long-bold-font-weight);
    border-bottom: 1px transparent solid;
    position: relative;
}

.FileTab > span {
    font-size: 1.6em;
    line-height: 0.8em;
}

.FileTab:last-child {
    border-right: 0;
}

.FileTab--active {
    background-color: var(--background-semi-transparent);
    border-bottom: 1px solid var(--primary);
    color: var(--primary);
}

.FileTab__CloseButton {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 16px;
    min-height: 16px;
    padding: 2px;
}

.FileTab .FileTab__CloseButton * {
    visibility: hidden;
}

.FileTab--active .FileTab__CloseButton * {
    visibility: visible;
}

.FileTab:hover .FileTab__CloseButton * {
    visibility: visible;
}

.FileTab--deleted {
    color: var(--danger);
    text-decoration: line-through;
}

.FileTab--active .FileTab__CloseButton:hover,
.FileTab:hover .FileTab__CloseButton:hover {
    border-radius: 4px;
    color: var(--primary);
    background-color: var(--background-light);
}

.FileTab > .FileTab--modified {
    position: absolute;
    right: var(--spacing-s);
    top: var(--spacing-s);
}

.FileTab:hover > .FileTab--modified {
    display: none;
}
