.Explorer {
    flex-grow: 4;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    margin-right: 1px;
}

.ExplorerTitle {
    font-weight: bold;
    text-transform: uppercase;
    padding: var(--spacing-x);
    padding-left: var(--spacing-m);
    height: 30px;
    display: flex;
    align-items: center;
    background-color: var(--background-light);
} 

.ExplorerTitle > div {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 8px;
    align-items: center;
    flex-grow: 4;
}

.ExplorerPath {
    border-left: 1px var(--text-color) solid;
    margin-left: 4px;
    width: 12px;
    min-width: 12px;
    height: 100%;
    display: block;
}

.ExplorerItemText {
    padding: 4px 16px 4px 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex-grow: 4;
}

.ExplorerItemIcon {
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ExplorerNoDirectory {
    padding: 16px;
}

.ExplorerContent {
    overflow-y: auto;
    padding: var(--spacing-s);
}

.ExplorerItem {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 24px;
    padding-left: calc(2 * var(--spacing-s));
    user-select: none;
    text-decoration: none;
    color: var(--text-color);
    flex-wrap: nowrap;
}

.ExplorerItem:hover {
    background-color: var(--primary-hover-alt);
    cursor: pointer;
    color: var(--text-color);
}

.ExplorerItem:focus {
    background-color: var(--primary);
    outline: 1px var(--primary) solid;
    color: var(--text-on-primary);
}

.ExplorerItem--active{
    background-color: var(--secondary-highlight);
    color: var(--text-color);
}

.DirectoryDrawer {
    background-color: var(--primary);
    color: var(--text-on-primary);
    height: 100%;
}
