.CommitBrowser {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.CommitBrowserHeader {
    padding: var(--padding);
    font-weight: bold;
    text-transform: uppercase;
}

.CommitBrowserContent {
    padding: var(--padding);
    overflow: auto;
    height: 100%;
}
