.Toolbar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0 1rem;
    background-color: var(--primary);
    color: var(--text-on-primary);
    height: 30px;
    z-index: 50;
    gap: var(--spacing-m);
}

.ToolbarFmuLogo {
    filter: brightness(0) invert(1);
    width: 16px;
}

.Toolbar button {
    text-transform: none;
    color: var(--text-on-primary);
    display: flex;
    gap: var(--spacing-s);
    border-radius: 0;
}

.Toolbar button:hover {
    background-color: var(--primary-hover);
}
