.Toolbar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0 1rem;
    border-bottom: 1px solid #e0e0e0;
    background-color: var(--primary-color);
    color: var(--on-primary-color);
    height: 30px;
    z-index: 50;
    gap: var(--spacing);
}

.ToolbarFmuLogo {
    filter: brightness(0) invert(1);
    width: 16px;
}

.Toolbar button {
    text-transform: none;
    color: white;
    display: flex;
    gap: var(--spacing);
    border-radius: 0;
}

.Toolbar button:hover {
    background-color: var(--primary-color-50);
}
