:root {
  --primary-color: #386A20;
  --primary-color-0: black;
  --primary-color-10: #0e1b08;
  --primary-color-20: #1c3510;
  --primary-color-30: #2a5018;
  --primary-color-40: #386a20;
  --primary-color-50: #519a2e;
  --primary-color-60: #6cc541;
  --primary-color-70: #90d470;
  --primary-color-80: #b5e2a0;
  --primary-color-90: #daf1cf;
  --primary-color-95: #edf8e7;
  --primary-color-99: #fbfefa;
  --primary-color-100: white;
  --secondary-color: #55624C;
  --secondary-color-0: black;
  --secondary-color-10: #151913;
  --secondary-color-20: #2b3126;
  --secondary-color-30: #404a39;
  --secondary-color-40: #55624c;
  --secondary-color-50: #708264;
  --secondary-color-60: #8c9d81;
  --secondary-color-70: #a9b6a0;
  --secondary-color-80: #c6cec0;
  --secondary-color-90: #e2e7df;
  --secondary-color-95: #f1f3ef;
  --secondary-color-99: #fcfdfc;
  --secondary-color-100: white;
  --tertiary-color: #19686A;
  --tertiary-color-0: black;
  --tertiary-color-10: #061a1b;
  --tertiary-color-20: #0d3435;
  --tertiary-color-30: #134e50;
  --tertiary-color-40: #19686a;
  --tertiary-color-50: #259a9d;
  --tertiary-color-60: #33cbcf;
  --tertiary-color-70: #66d8db;
  --tertiary-color-80: #99e5e7;
  --tertiary-color-90: #ccf2f3;
  --tertiary-color-95: #e5f8f9;
  --tertiary-color-99: #fafefe;
  --tertiary-color-100: white;
  --error-color: #B3261E;
  --error-color-0: black;
  --error-color-10: #2d0a08;
  --error-color-20: #5a130f;
  --error-color-30: #861d17;
  --error-color-40: #b3261e;
  --error-color-50: #db3228;
  --error-color-60: #e25b53;
  --error-color-70: #e9847e;
  --error-color-80: #f1ada9;
  --error-color-90: #f8d6d4;
  --error-color-95: #fbeaea;
  --error-color-99: #fefbfb;
  --error-color-100: white;
  --neutral-color: #5D5F5A;
  --neutral-color-0: black;
  --neutral-color-10: #171817;
  --neutral-color-20: #2f302d;
  --neutral-color-30: #464744;
  --neutral-color-40: #5d5f5a;
  --neutral-color-50: #787b74;
  --neutral-color-60: #939690;
  --neutral-color-70: #aeb0ac;
  --neutral-color-80: #c9cac7;
  --neutral-color-90: #e4e5e3;
  --neutral-color-95: #f2f2f1;
  --neutral-color-99: #fcfcfc;
  --neutral-color-100: white;
  --neutral-variant-color: #5D5F5A;
  --neutral-variant-color-0: black;
  --neutral-variant-color-10: #171817;
  --neutral-variant-color-20: #2f302d;
  --neutral-variant-color-30: #464744;
  --neutral-variant-color-40: #5d5f5a;
  --neutral-variant-color-50: #787b74;
  --neutral-variant-color-60: #939690;
  --neutral-variant-color-70: #aeb0ac;
  --neutral-variant-color-80: #c9cac7;
  --neutral-variant-color-90: #e4e5e3;
  --neutral-variant-color-95: #f2f2f1;
  --neutral-variant-color-99: #fcfcfc;
  --neutral-variant-color-100: white;
  --primary: var(--primary-color);
  --on-primary: var(--primary-color-100);
  --primary-container: var(--primary-color-90);
  --on-primary-container: var(--primary-color-10);
  --secondary: var(--secondary-color);
  --on-secondary: var(--secondary-color-100);
  --secondary-container: var(--secondary-color-90);
  --on-secondary-container: var(--secondary-color-10);
  --tertiary: var(--tertiary-color);
  --on-tertiary: var(--tertiary-color-100);
  --tertiary-container: var(--tertiary-color-90);
  --on-tertiary-container: var(--tertiary-color-10);
  --error: var(--error-color);
  --on-error: var(--error-color-100);
  --error-container: var(--error-color-90);
  --on-error-container: var(--error-color-10);
  --background: var(--neutral-color-99);
  --on-background: var(--neutral-color-10);
  --surface: var(--neutral-color-99);
  --on-surface: var(--neutral-color-10);
  --surface-variant: var(--neutral-variant-90);
  --on-surface-variant: var(--neutral-variant-30);
  --outline: var(--neutral-variant-50);
  --outline-variant: var(--neutral-variant-80);
  --surface-1: #f2f5f1;
  --surface-2: #ecf0ea;
  --surface-3: #e6ece4;
  --surface-4: #e4eae2;
  --surface-1: #e1e8dd;
}

.surface-1 {
  position: relative;
  background-color: rgba(56, 106, 32, 0.05);
}

.surface-1::before {
  background-color: var(--surface-1);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/*# sourceMappingURL=light.css.map */
