@use "utils.module.scss" as *;

$light: (
    // Primary colours
    "primary": #007079,
    "primary-hover": #004f55,
    "primary-hover-alt": #deedee,
    "primary-selected-highlight": #e6faec,
    "primary-selected-hover": #c3f3d2,
    // Secondary colours
    "secondary": #243746,
    "secondary-hover": #18252f,
    "secondary-highlight": #d5eaf4,
    // Feedback colours
    // Warning
    "warning": #ff9200,
    "warning-hover": #ad6200,
    "warning-highlight": #ffe7d6,
    "warning-text": #ad6200,
    // Danger
    "danger": #eb0000,
    "danger-hover": #b30d2f,
    "danger-highlight": #ffc1c1,
    "danger-text": #b30d2f,
    // Success
    "success": #4bb748,
    "success-hover": #358132,
    "success-highlight": #e6faec,
    "success-text": #358132,
    // Text
    "text-color": #3d3d3d,
    "text-secondary": #565656,
    "text-tertiary": #6f6f6f,
    "text-on-primary": #ffffff,
    "text-on-light": #000000,
    "text-on-dark": #ffffff,
    // Background
    "background-color": #ffffff,
    "background-semi-transparent": #ffffff33,
    "background-light": #f7f7f7,
    "background-medium": #dcdcdc,
    "background-warning": #ffe7d6,
    "background-danger": #ffc1c1,
    "background-info": #d5eaf4,
    "background-overlay": #000000cc,
    "background-scrim": #00000066
);

$dark: (
    // Primary colours
    "primary": #97cace,
    "primary-hover": #ade2e6,
    "primary-hover-alt": #ade2e619,
    "primary-selected-highlight": #e6faec,
    "primary-selected-hover": #c3f3d2,
    // Secondary colours
    "secondary": #dee5e7,
    "secondary-hover": #ffffff,
    "secondary-highlight": #ffffff19,
    // Feedback colours
    // Warning
    "warning": #ff9200,
    "warning-hover": #ffdaa8,
    "warning-highlight": #ffc67a19,
    "warning-text": #ffc67a,
    // Danger
    "danger": #eb0000,
    "danger-hover": #ff949b,
    "danger-highlight": #ff667019,
    "danger-text": #ff6670,
    // Success
    "success": #4bb748,
    "success-hover": #c1e7c1,
    "success-highlight": #a1daa019,
    "success-text": #a1daa0,
    // Text
    "text-color": #ffffff,
    "text-secondary": #dee5e7,
    "text-tertiary": #9ca6ac,
    "text-on-primary": #000000,
    "text-on-light": #000000,
    "text-on-dark": #ffffff,
    // Background
    "background-color": #132634,
    "background-semi-transparent": #00000047,
    "background-light": #ffffff28,
    "background-medium": #dee5e7,
    "background-warning": #ffe7d6,
    "background-danger": #ffc1c1,
    "background-info": #d5eaf4,
    "background-overlay": #2e3f4d,
    "background-scrim": #00000066
);

$general: (
    // Elevation
    "elevation-none": "0.0px 0.0px 1.0px 0px rgba(0, 0, 0, 0.14)",
    "elevation-raised":
        "0.0px 1.0px 5.0px 0px rgba(0, 0, 0, 0.2),0.0px 3.0px 4.0px 0px rgba(0, 0, 0, 0.12),0.0px 2.0px 4.0px 0px rgba(0, 0, 0, 0.14)",
    "elevation-overlay":
        "0.0px 1.0px 10.0px 0px rgba(0, 0, 0, 0.2),0.0px 4.0px 5.0px 0px rgba(0, 0, 0, 0.12),0.0px 2.0px 4.0px 0px rgba(0, 0, 0, 0.14)",
    "elevation-sticky":
        "0.0px 4.0px 5.0px 0px rgba(0, 0, 0, 0.2),0.0px 3.0px 14.0px 0px rgba(0, 0, 0, 0.12),0.0px 8.0px 10.0px 0px rgba(0, 0, 0, 0.14)",
    "elevation-temporary-nav":
        "0.0px 7.0px 8.0px 0px rgba(0, 0, 0, 0.2),0.0px 5.0px 22.0px 0px rgba(0, 0, 0, 0.12),0.0px 12.0px 17.0px 0px rgba(0, 0, 0, 0.14)",
    "elevation-above-scrim":
        "0.0px 11.0px 15.0px 0px rgba(0, 0, 0, 0.2),0.0px 9.0px 46.0px 0px rgba(0, 0, 0, 0.12),0.0px 24.0px 38.0px 0px rgba(0, 0, 0, 0.14)",
    // Typography
    "font-family": Equinor,
    "font-size": 14px,
    "h1": (
        font-weight: 400,
        font-size: 2rem,
        line-height: 2.5rem,
    ),
    "h1-bold": (
        font-weight: 700,
        font-size: 2rem,
        line-height: 2.5rem,
    ),
    "h2": (
        font-weight: 400,
        font-size: 1.75rem,
        line-height: 2.1875rem,
    ),
    "h3": (
        font-weight: 400,
        font-size: 1.5rem,
        line-height: 1.875rem,
    ),
    "h4": (
        font-weight: 400,
        font-size: 1.25rem,
        line-height: 2rem,
    ),
    "h5": (
        font-weight: 500,
        font-size: 1.125rem,
        line-height: 1.5rem,
    ),
    "h6": (
        font-weight: 500,
        font-size: 1rem,
        line-height: 1.5rem,
    ),
    "body-long": (
        font-weight: 400,
        font-size: 1rem,
        line-height: 1.5rem,
    ),
    "body-long-bold": (
        font-weight: 700,
        font-size: 1rem,
        line-height: 1.5rem,
    ),
    "body-long-bold-italic": (
        font-weight: 700,
        font-size: 1rem,
        line-height: 1.5rem,
        font-style: italic,
    ),
    "body-long-italic": (
        font-weight: 400,
        font-size: 1rem,
        line-height: 1.5rem,
        font-style: italic,
    ),
    "body-long-link": (
        font-weight: 400,
        font-size: 1rem,
        line-height: 1.5rem,
        text-decoration: underline,
    ),
    "body-short": (
        font-weight: 400,
        font-size: 0.875rem,
        line-height: 1.25rem,
    ),
    "body-short-bold": (
        font-weight: 700,
        font-size: 1rem,
        line-height: 1.25rem,
    ),
    "body-short-bold-italic": (
        font-weight: 700,
        font-size: 1rem,
        line-height: 1.25rem,
        font-style: italic,
    ),
    "body-short-italic": (
        font-weight: 400,
        font-size: 1rem,
        line-height: 1.25rem,
        font-style: italic,
    ),
    "body-short-link": (
        font-weight: 400,
        font-size: 1rem,
        line-height: 1.25rem,
        text-decoration: underline,
    ),
    "caption": (
        font-weight: 500,
        font-size: 0.875rem,
        line-height: 1rem,
    ),
    "ingress": (
        font-weight: 400,
        font-size: 1.125rem,
        line-height: 1.5rem,
    ),
    "meta": (
        font-weight: 400,
        font-size: 0.625rem,
        line-height: 1rem,
    ),
    "overline": (
        font-weight: 500,
        font-size: 0.625rem,
        line-height: 1rem,
    ),
    // Spacing
    "spacing-xx": 2px,
    "spacing-x": 4px,
    "spacing-s": 8px,
    "spacing-ms": 16px,
    "spacing-m": 16px,
    "spacing-l": 24px,
    "spacing-xl": 32px,
    "spacing-xxl": 40px,
    "spacing-xxxl": 48px,
    // Shape
    "border-radius": 4px,
    // Grid spacing
    "grid-width-s": 599px,
    "grid-spacing-s": 8px,
    "grid-margin-s": 16px,
    "grid-width-m": 839px,
    "grid-spacing-m": 16px,
    "grid-margin-m": 24px,
    "grid-spacing-l": 16px,
    "grid-margin-l": 32px
);

:export {
    @each $key, $value in $general {
        @include format-export-variable($key, $value);
    }

    @each $key, $value in $light {
        @include format-export-variable($key, $value, "light-");
    }

    @each $key, $value in $dark {
        @include format-export-variable($key, $value, "dark-");
    }
}

@mixin theme {
    @each $key, $value in $general {
        @include format-variable($key, $value);
    }
}

@mixin light-theme {
    @each $key, $value in $light {
        @include format-variable($key, $value);
    }
}

@mixin dark-theme {
    @each $key, $value in $dark {
        @include format-variable($key, $value);
    }
}
