.OngoingChangesBrowserItem {
    display: flex;
    align-items: center;
    gap: var(--spacing-s);
    font-size: var(--h6-font-size);
    line-height: var(--h6-line-height);
    font-weight: var(--h6-font-weight);
    overflow: hidden;
    min-width: 0;
    cursor: pointer;
    padding: var(--spacing-s);
}

.OngoingChangesBrowserItem:hover {
    background-color: var(--primary-hover-alt);
}

.OngoingChangesBrowserItem--selected {
    background-color: var(--secondary-highlight);
}
