.MouseCursor {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
}

.ClickEffect {
    position: fixed;
    z-index: 99999;
    box-sizing: border-box;
    border-style: solid;
    border-color: red;
    border-radius: 50%;
    animation: click-effect 0.4s ease-out;
}

@keyframes click-effect{
    0% {
        opacity:1;
        width:0.5em; height:0.5em;
        margin:-0.25em;
        border-width:0.5em;
    }

    100% {
        opacity:0.2;
        width:15em; height:15em;
        margin:-7.5em;
        border-width:0.03em;
    }
}