body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    font-size: 11pt;
    line-height: 14pt;
    font-family: "Equinor";
}

*:focus {
    outline-color: var(--primary);
}

#root {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

*::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: none;
    width: 4px;
    height: 4px;
}

* > *::-webkit-scrollbar-thumb {
    border-radius: 2px;
    width: 4px;
    height: 4px;
    background-color: rgba(190, 190, 190, 0);
    transition: background-color 0.5s ease-in-out;
}

*:hover > *::-webkit-scrollbar-thumb {
    width: 4px;
    height: 4px;
    background-color: rgba(190, 190, 190, 0.6);
    transition: background-color 0.5s ease-in-out;
}

*:hover > *::-webkit-scrollbar-thumb:hover {
    background-color: rgba(134, 134, 134, 0.8);
    transition: background-color 0.5s ease-in-out;
}

*::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background: none;
}

.Divider {
    box-sizing: border-box;
    border-radius: 1px;
    border-right: 1px inset var(--background-medium);
    margin: 4px;
    background-color: var(--background-color);
}

.Divider--horizontal {
    height: 1px;
}

.Divider--vertical {
    width: 1px;
}
