.CsvXlsxEditor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.CsvXlsxTable {
    width: 100%;
    height: 100%;
    border-spacing: 1px;
    border-collapse: collapse;
}

.CsvXlsxTable tr td:first-child {
    font-weight: var(--body-font-weight-bold);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-light);
}

.CsvXlsxTable th {
    background-color: var(--background-light);
}

.CsvXlsxTable td, .CsvXlsxTable th {
    border: 1px var(--background-medium) solid;
}

.CsvXlsxTable th, .CsvXlsxTable tr td:first-child {
    border: 1px var(--background-medium) solid;
}

.CsvXlsxTable input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    color: var(--text-primary);
    margin: 0px;
    outline: 0px;
    border: 0px;
}
