.SpreadSheetEditor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: overlay;
    position: relative;
}

.SpreadSheetEditor__ScrollOverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    pointer-events: none;
}

.SpreadSheetEditor__TableWrapper {
    overflow: hidden;
    position: sticky;
    left: 0;
    top: 0;
}

.SpreadSheetTable {
    border-spacing: 1px;
    border-collapse: collapse;
}

.SpreadSheetTable tr td:first-child {
    font-weight: var(--body-font-weight-bold);
    text-align: center;
    background-color: var(--background-light);
    position: relative;
    user-select: none;
}

.SpreadSheetTable th {
    background-color: var(--background-light);
    position: relative;
    user-select: none;
}

.SpreadSheetTable td, .SpreadSheetTable th {
    border: 1px var(--background-medium) solid;
}

.SpreadSheetTable th, .SpreadSheetTable tr td:first-child {
    border: 1px var(--background-medium) solid;
}

.SpreadSheetTable input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    color: var(--text-primary);
    margin: 0px;
    outline: 0px;
    border: 0px;
}

.SpreadSheetTable .focused-header {
    background-color: var(--primary) !important;
    color: var(--text-on-primary);
}

.SpreadSheetTable .hovered-header {
    background-color: var(--primary-hover-alt) !important;
}

.SpreadSheetTable .focused-cell {
    outline: 3px solid var(--primary);
}

.SpreadSheetEditor__column-resize-handle {
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: -3px;
    width: 6px;
    height: 100%;
    z-index: 100;
    cursor: col-resize;
    background-color: var(--background-medium);
    opacity: 0;
    transition: opacity 0.2s;
}

.SpreadSheetEditor__row-resize-handle {
    position: absolute;
    top: 100%;
    margin-top: -3px;
    left: 0;
    height: 6px;
    width: 100%;
    z-index: 100;
    cursor: row-resize;
    background-color: var(--background-medium);
    opacity: 0;
    transition: opacity 0.2s;
}
